.menu {
  list-style: none;
  width: 100%;
  background-color: #d0d0d0;
  margin: 0px;
  padding: 0px;
}

.menu li {
  display: inline-block;
  width: auto;
  padding: 10px; 
}

.item-menu {
  text-decoration: none;
  text-transform: uppercase;
}